{% extends 'layout.html' %}

{% block title %}Lumen{% endblock %}

{% block content %}
<h1>Send XLM</h1>
<p>You can send 1-10 XLM mine stellar address</p>
<input type="text" placeholder="e.g: your stellar public key">
<input type="submit" value="Send XLM">
<h1>Received XLM</h1>
<p>You have sended <strong>{{ lists.length }}</strong> XLM lists!</p>
<table id="lists"></table>
  
{{sdk}}
<script>

  const create_li = (address, amount, created_at) =>
    `<tr>
      <td align="left"><a href="">${address}</a></td>
      <td align="right">${amount}</td>
      <td align="right">${created_at}</td>
    </tr>`;

  console.log(StellarSdk);
  const horizon_url = 'https://horizon-testnet.stellar.org';
  const publicKey = 'GBY4J7D4ERYAVD2IXTIFS6SSSSG343LNF5B57F4BJL5IIEKGUBEBYC37';
  window.onload = () => {
    new StellarSdk.Server(horizon_url).payments()
      .forAccount(publicKey)
      .cursor()
      .stream({
        onmessage: (message) => {
          if (message.from == undefined)return;
          const html = create_li(message.from, message.amount, message.created_at);
          document.getElementById('lists').insertAdjacentHTML("afterbegin", html);
        }
      });
  }

</script>
{% endblock %}