{% extends 'layout.html' %}

{% block title %}Token{% endblock %}

{% block content %}

<p>
  <h1>{{publicKey}}</h1>Reply server address
</p>

<h1>Trustline</h1>
<p>Your token can permit</p>
<input type="text" placeholder="Token code" size="10">
<input type="submit" value="Permit">

<h1>Refunded Token</h1>
<p>Refunded Token transactions list ( Display: {{limit}} results )</p>
<table id="sendLists"></table>

<h1>Received Token</h1>
<p>Your sended Token transactions( Display: {{limit}} results )</p>
<table id="receiveLists"></table>

{% endblock %}